@media screen and (max-width: 576px) {
    header{
        padding: 0;
    }
    /* navigation part style  */
    .navigation-bar{
        flex-direction: column;
        text-align: center;
        gap: 2rem
        ;
    }
    .nav-link{
        flex-direction: column;
    }

    /* .banner section style  */
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
        width: 95%;
        margin: auto;
        margin-top: 13rem;
    }
    .banner-info{
        width: 95%;
    }
    .banner-info h1{
        font-size: 3.5rem;
    }
    .banner-img{
        width: 90%;
    }

    /* online-game-card-container section style */
    .online-game{
        width: 90%;
    }
    .online-game h2{
        font-size: 1.2rem;
    }
    .online-game p{
        font-size: 16px;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }
    .online-game-card-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }
    
    /* section style  */
    /* section style  */
    /* section style  */
    /* section style  */
}