/* responsive for small device */
@media screen and (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    
    header{
        padding: 0;
    }

    /* navigation part style  */
    .navigation-bar{
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        gap: 2rem
        ;
    }
    .nav-link{
        flex-direction: column;
    }

    /* .banner section style  */
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
        width: 95%;
        margin: auto;
        margin-top: 4rem;
    }
    .banner-info{
        width: 95%;
    }
    .banner-info h1{
        font-size: 3.5rem;
    }
    .banner-img{
        width: 90%;
    }

    /* online-game-card-container section style */
    .gamer-container{
        flex-direction: column;
        width: 100%;
    }
    .gamer-text{
        margin: 0;
        width: 80%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .gamer-text q{
        color: #534C64;
        font-size: 1rem;
        font-weight: 700;
    }

    /* online-game-card-container section style */
    .online-game{
        width: 90%;
        margin: auto;
    }
    .online-game h2{
        font-size: 1.5rem;
    }
    .online-game p{
        font-size: 16px;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }
    .online-game-card-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }
    .card-secondary-img{
        top: 50%;
        left: 40%;
    }
    
    /* play-instantly section style  */
    .play-section-container{
        width: 95%;
        flex-direction: column;
        margin: auto;
        margin-top: 2.5rem;
    }
    .play-instant-text {
        width: 90%;
        margin: auto;
    }
    .play-section-text h2{
        font-size: 2rem;
    }
    
    .play-section-img{
        width: 85%;
        margin: auto;
        margin-top: 2rem;
    }

    /* play games online section style  */
    .play-game-container{
        flex-direction: column-reverse;
        margin-top: 6rem;
    }

    /* game type section style  */
    .game-type-container{
        display: grid;
        gap: 0px;
        cursor: pointer;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
        margin: 5rem auto;
    }
    .game-type{
        margin: auto;
        margin-top: 10px;
        width: max-content;
    }
    .game-type img{
        height: 40px;
        width: 40px;
    }
    .game-type p{
        font-size: 12px;
    }

    /* footer section style  */
    .footer-important-link{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        width: 60%;
        margin: 2rem auto;
    }
    .company-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        margin: 2rem;
    }
}

/* responsive for medium device */
@media screen and (min-width: 577px) and (max-width: 960px) {
    body{
        overflow-x: hidden;
    }

    /* header section style  */
    header{
        width: 100%;
        margin: auto;
        padding: 2rem 1rem;
    }
    .nav-logo{
        gap: 0.5rem;
    }
    .nav-logo img{
        width: 50%;
    }
    .nav-logo > h2{
        font-size: 1.5rem;
    }
    .nav-link{
        gap: 1rem;
    }
    .nav-link{
        font-size: 12px;
        font-weight: 700;
    }

    /* online-game-card-container section style */
    .gamer-container{
        flex-direction: column;
        width: 100%;
    }
    .gamer-text{
        margin: 0;
        width: 80%;
        text-align: center;
        margin-bottom: 3rem;
    }

    /* .online-game style  */
    .online-game{
        width: 100%;
        margin: 0 auto;
    }
    .online-game-card-container{
        margin: 0 auto;
        width: 80%;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
    }

    /* .play-section-container style  */
    .play-section-container{
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 4rem;
    }
    .play-game-container{
        flex-direction: column-reverse;
    }
    .play-section-img {
        width: 70%;
        margin-top: 3rem;
    }
    .section-main-img{
        width: 100%;
    }

    /* .game-type-container style */
    .game-type-container{
        width: 90%;
        margin: auto;
        margin-top: 4rem;
    }
    footer{
        margin: auto;
        width: 100%;
        margin-top: 3rem;
    }
}