@media screen and (max-width: 576px) {
    header{
        padding: 0;
    }
    /* navigation part style  */
    .navigation-bar{
        flex-direction: column;
        text-align: center;
        gap: 2rem
        ;
    }
    .nav-link{
        flex-direction: column;
    }

    /* .banner section style  */
    .banner{
        flex-direction: column-reverse;
        gap: 2rem;
        width: 95%;
        margin: auto;
        margin-top: 13rem;
    }
    .banner-info{
        width: 95%;
    }
    .banner-info h1{
        font-size: 3.5rem;
    }
    .banner-img{
        width: 90%;
    }

    /* online-game-card-container section style */
    .online-game{
        width: 90%;
    }
    .online-game h2{
        font-size: 1.2rem;
    }
    .online-game p{
        font-size: 16px;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }
    .online-game-card-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }
    
    /* play-instantly section style  */
    .play-section-container{
        width: 95%;
        flex-direction: column;
        margin: auto;
        margin-top: 2.5rem;
    }
    .play-instant-text {
        width: 90%;
        margin: auto;
    }
    .play-section-text h2{
        font-size: 2rem;
    }
    /* .section-main-img{
        width: 70%;
        margin-left: 20%;
    } */
    .play-section-img{
        width: 90%;
        margin-left: 5%;
        margin-top: 3rem;
    }

    /* play games online section style  */
    .play-game-container{
        flex-direction: column-reverse;
        margin-top: 6rem;
    }

    /* game type section style  */
    .game-type-container{
        /* padding: 0; */
        display: grid;
        gap: 0px;
        cursor: pointer;
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
        /* margin: auto;
        margin-top: 5rem ;
        margin-bottom: 5rem ; */
        margin: 5rem auto;
    }
    .game-type{
        margin: auto;
        margin-top: 10px;
        width: max-content;
    }
    .game-type img{
        height: 40px;
        width: 40px;
    }
    .game-type p{
        font-size: 12px;
    }
    /* section style  */
}