/* shared style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.section-width-primary{
    width: 1120px;
    margin: auto;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.text-transparent{
    background-image: linear-gradient(to bottom,#ff00957c,#50183f86);
    color: transparent;
    -webkit-background-clip: text;

}
.text-primary{
    color: #534C64;
}
.btn-primary{
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 1.2rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* nav bar style  */
header{
    padding: 2rem 7.5rem;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.nav-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav-logo h2{
    font-size: 2.5rem;
}
.nav-highlighted{
    color: #F23F9D;
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    color: #3C354F;
    text-decoration: none;
}
.nav-follow{
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #cfcfcf;
    border-radius: 5px;
    align-items: center;
}
.fa-brands{
    margin: 0 5px;
}

/*banner section style  */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 2rem 0px;
}
.banner-info{
    display: grid;
    gap: 10px;
    width: 45%;
    padding: 2rem 0 2rem 2rem ;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-info h1{
    font-size: 4.5rem;
}
.banner-info i{
    margin-right: 0.5rem;
}
.banner-btn{
    margin-top: 1rem;
}
.sign-in-btn{
    background-color: #F23F9D;
}
.go-rogue-btn{
    background-color: #4EC5F7;
    margin-left: 10px;
}

.banner-img{
    width: 45%;
}
.banner-img img{
    width: 100%;
}
/*gamer section style  */
.gamer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.gamer-img img{
    width: 100%;
}
.gamer-text{
    border: 1px solid salmon;
    width: 50%;
    text-align: end;
}
.gamer-text p{
    margin: 1rem 0;
}
.know-more-btn{
    background-color: #ff0088;
}
.gamer-text q{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

/*Online Games section style  */
.online-game{
    margin-top: 2rem;
    text-align: center;
}
.online-game > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.online-game-card-container{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.online-game-card{
    text-align: start;
}
.online-game-card img{
    width: 100%;
}
.online-game-img{
    position: relative;
}
.online-game-img:hover .card-bg-img{
    cursor: pointer;
    background-blend-mode: overlay;
}

.online-game-img:hover .card-secondary-img{
    display: block;
}
.card-secondary-img{
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
    display: none;
}
.online-game-card > p{
    margin: 10px 0;
}

/* play-instantly section style  */
.play-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}
.play-section-text{
    width: 50%;
    margin: auto;
    text-align: center;
}
.play-section-text p{
    margin-top: 1.5rem;
}
.play-section-img{
    position: relative;
}
.section-main-img{
    width: 100%;
}
.section-secondary-image{
    height: 6rem;
    width: 4.5rem;
    position: absolute;
    left: -7%;
    bottom: -5%;
}
/* play-game-container section style  */
.play-section-img{
    position: relative;
}
.play-game-img{
    position: absolute;
    height: 6rem;
    width: 4.5rem;
    right: -7%;
    bottom: -5%;
}

/* game type section style  */
.game-type-container{
    margin-top: 7rem;
    margin-bottom: 5rem;
    /* padding: 6rem 0; */
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.game-type{
    display: flex;
    flex-basis: 200px;
    gap: 0.25rem;
    align-items: center;
    width: max-content;
    padding: 3px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
}
.game-type:hover{
    color: #ff0088;
    border: 1px solid #ff0088;
    background-color: rgb(247, 247, 247);
}
.game-type p{
    font-size: 1rem;
    font-weight: 600;
}

/* footer section style  */
footer{
    text-align: center;
    background-color: #0B0223;
    color: white;
    padding: 2rem 0;
    margin:auto;
}
.footer-header{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.footer-header h2{
    font-size: 2rem;
}
footer a{
    text-decoration: none;
    margin: 5px;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: orangered;
}
.footer-important-link{
    margin: 2rem auto;
}
.company-policy{
    margin: 1.5rem auto 1rem;
}
.company-policy a{
    margin-right: 1rem;
}